@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500 &display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(228, 228, 228);
}


.nome {
    padding-top: 50px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color: rgb(61, 93, 163);
    font-size: 25px;
    margin-bottom: 0;

}

nav {
    margin-top: 0;
    background: rgb(61, 93, 163);
    height: 130px;
    width: 100%;
}

nav img {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -75px;
    margin-right: -75px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation-delay: 3s;
}

.directory_bar {
    height: 60px;
    background-color: rgb(61, 93, 163);
    border-radius: 40px;
    margin: auto;
    width: 95%;
}


.directory {
    padding-left: 10px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 23px;

}
div ul li {
    width: 150px;
    height: 80px;
    border-radius: 40%;
    text-align: center;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;

}
.button:hover {
    text-decoration: underline;
}

div ul li span {
    width: 50px;
    height: 50px;
    background-color: rgb(38, 56, 158);
    border-radius: 40%;
}

.logo_list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    height: 100px;
    white-space: nowrap;
    animation: bannermove 50s linear infinite;
}

.logo_list2 {
    display: none;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    white-space: nowrap;
    animation: bannermove 50s linear infinite;
    animation-direction: reverse;
   
}

@keyframes bannermove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0); /* The image width */
    }

}

@keyframes bannermove2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, -100%); /* The image width */
    }

}




@media screen and(max-width: 1024px) {
    .directory_bar {
        width: 80%;
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

    .button {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    
    .logo_list2 {
        display:block;
        overflow: hidden;
        animation: bannermove 20s linear infinite;
        animation-direction:reverse;

    }
}
