@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500 &display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(228, 228, 228);
}

.div_dark_mode{
    align-items: center;
    background-color: chartreuse;
}
.button_dark_mode{
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50px;
}


.nome {
    padding-top: 50px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color: rgb(61, 93, 163);
    font-size: 25px;
    margin-bottom: 0;

}

nav {
    margin-top: 0;
    background: rgb(61, 93, 163);
    height: 130px;
    width: 100%;
}

nav img {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -75px;
    margin-right: -75px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation-delay: 3s;
    transition: transform 0.2s;
}

nav img:hover {
    transform: scale(1.1);
}


.directory_bar {
    height: 60px;
    background-color: rgb(61, 93, 163);
    border-radius: 40px;
    margin: auto;
    width: 95%;
}


.directory {
    padding-left: 10px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 23px;

}
div ul li {
    width: 150px;
    height: 80px;
    border-radius: 40%;
    text-align: center;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s;

}
.button:hover {
    transform: scale(1.2);


}

div ul li span {
    width: 50px;
    height: 50px;
    background-color: rgb(38, 56, 158);
    border-radius: 40%;
}

.logo_list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 130px;
    white-space: nowrap;
    animation: bannermove 50s linear infinite;
    overflow:hidden;
    transition: transform 0.2s;

}

.logo_list li {
    padding: 20px;
}

.logo_list li:hover {
    transform: scale(1.2);
}

.logo_bar{
background-color: rgb(228, 228, 228);
}

.logo_bar2{
    overflow: hidden;
    background-color: rgb(228, 228, 228);
}



.logo_list2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 130px;
    white-space: nowrap;
    animation: bannermove2 50s linear infinite;
    transition: transform 0.2s;
}

.logo_list2 li {
    padding: 20px;
}

.logo_list2 li:hover {
    transform: scale(1.2);
}

@keyframes bannermove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0); /* The image width */
    }

}

@keyframes bannermove2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0); /* The image width */
    }

}

.h1_app{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgb(38, 56, 158);
}


@media screen and(max-width: 828px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    
    }
    .directory_bar {
        width: 80%;
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

    .button {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .logo_list {
        overflow: hidden;
    }


    .logo_list2{
        display: none;
        overflow: hidden;
        animation: bannermove 10s linear infinite;
        animation-direction: reverse;

    }
}
